<% if !comment.body.nil? %>
<div class="callout callout-default row">
  <div class="col">
    <p>
      <%= comment.body %>
    </p>

    <p class="text-secondary">
      <%= comment.commenter %>
    </p>
  </div>

  <p class="col">
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </p>
</div>
<% end %>