<header>
  <div class="container row text-center align-items-center mx-auto">
    <h1 class="col">Edit Article</h1>
    <div class="col row">
      <div class="col"><%= link_to 'User Edit', edit_user_path(current_user)%></div>
      <div class="col"><%= link_to 'Logout', destroy_user_session_path, method: :delete%></div>
    </div>
  </div>
</header>
 
<div class="container">
    <div class="btn-voltar mt-3"><%= link_to 'Back', articles_path %></div>
    <%= render 'form' %>
</div>